.partnership {
  padding: 60px 0;
  text-align: center;
  &_content {
    width: 1050px;
    margin: 0 auto;
  }
  & h1 {
    margin-bottom: 40px;
  }
  & .turnkey_ngs_get {
    padding: 0 0 20px;
  }
  & h3 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1050px) {
  .partnership {
    padding: 30px 0 80px;
    &_content {
      width: 100%;
      margin: 0 auto;
      padding: 0 25px;
    }
  }
}
