.services {
  background: linear-gradient(180deg, #E9F0F2 0%, #fff 100%);
  &_top {
    width: 750px;
    padding: 60px 0;
    margin: 0 auto;
    text-align: center;
    &_text {
      margin: 40px 0;
    }
    &_contact {
      display: flex;
      align-items: center;
    }
    &_left {
      flex: 0 0 380px;
      margin-right: 35px;
      &_text {
        text-align: left;
        font-size: 21px;
        line-height: 1.2em;
      }
    }
    &_right {
      flex: auto;
    }
    &_button {
      @include gradientRadiusGreenButton;
      padding: 26px 60px;
      text-align: center;
      display: block;
      width: 100%;
    }
  }
  &_list {
    background: linear-gradient(180deg, #08CDB5 0%, #20CCB8 100%);
    padding: 16px 0;
    &_content {
      width: 1050px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
    &_item {
      display: flex !important;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-right: 14px;
      background: rgba(255, 255, 255, 0.66);
      border-radius: 27px;
      padding: 20px;
      font-size: 15px;
      user-select: none;
      border-bottom: none;
      font-weight: 400;
      color: #000;
      &:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.8);
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.turnkey_ngs {
  padding: 60px 0;
  &_content {
    width: 1050px;
    margin: 0 auto;
    text-align: center;
  }
  &_title {
    @include textGradientGreenColor;
    font-size: 40px;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto 20px;
    text-align: center;
  }
  &_list {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    text-align: left;
    margin: 40px 0;
    &_item {
      position: relative;
      padding: 30px 56px;
      background: linear-gradient(304.91deg, #BEEDE7 -47.54%, rgba(216, 225, 224, 0.23) 138.6%);
      border-radius: 0 70px;
      margin-right: 70px;
      flex: 0 0 calc(33.33% - 47px);
      &:after {
        position: absolute;
        right: -50px;
        top: calc(50% - 21px);
        content: '';
        height: 42px;
        width: 21px;
        background: url("../img/arrow.svg") no-repeat;
        background-size: cover;
        transform: rotate(180deg);
      }
      &:last-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }
    }
    &_title {
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
  &_get {
    padding: 40px 0 20px;
    & h2 {
      margin-bottom: 40px;
    }
    &_list {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      text-align: left;
    }
    &_item {
      position: relative;
      display: flex;
      align-items: center;
      padding: 40px 31px;
      background: linear-gradient(305.47deg, #86D0C7 -69.7%, rgba(216, 225, 224, 0.23) 147.67%);
      border-radius: 0 70px;
      margin-right: 40px;
      font-weight: 700;
      text-align: center;
      &:after {
        position: absolute;
        right: -32px;
        top: calc(50% - 21px);
        content: '';
        height: 42px;
        width: 21px;
        background: url("../img/arrow.svg") no-repeat;
        background-size: cover;
        transform: rotate(180deg);
      }
      &:last-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }
    }
  }
  &_connect {
    width: 1050px;
    margin: 0 auto;
    &_dot {
      position: relative;
      height: 80px;
      width: 1px;
      border-right: 2px dotted #26a193;
      margin-left: 86%;
      &:before {
        content: '';
        position: absolute;
        left: -4px;
        top: -4px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: #26a193;
      }
    }
    &_box {
      width: 100%;
      height: 20px;
      border: 2px dotted #26A193;
      border-bottom: 0;
    }
  }
  &_results {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  &_result {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 14px;
    background: rgba(41, 142, 130, 0.23);
    border-radius: 27px;
    padding: 20px;
    font-size: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.genomic_data {
  background: linear-gradient(180deg, #E9F0F2 0%, #EFF1F2 100%);
  padding: 60px 0 20px;
  text-align: center;
  &_content {
    width: 1050px;
    margin: 0 auto;
  }
}

.services_research {
  padding: 60px 0;
  text-align: center;
  &_content {
    width: 1050px;
    margin: 0 auto;
  }
  &_top {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_left {
      flex: 0 0 calc(50% - 20px);
      font-size: 31px;
    }
    &_right {
      flex: 0 0 calc(50% - 20px);
      & p:last-child {
        margin-bottom: 0;
      }
    }
  }
  &_results {
    width: 830px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  &_competencies_title {
    margin: 40px auto;
  }
  &_look_title {
    width: 830px;
    margin: 40px auto;
  }
  &_link {
    display: inline-block;
    padding: 26px 95px 23px;
    @include gradientRadiusGreenButton;
  }
}

.bioinformatic {
  background: linear-gradient(180deg, #E9F0F2 0%, #EFF1F2 100%);
  padding: 60px 0 20px;
  text-align: center;
  &_content {
    width: 950px;
    margin: 0 auto;
  }
  &_results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
  &_result {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 7px 40px;
    background: rgba(41, 142, 130, 0.23);
    border-radius: 27px;
    padding: 20px;
    font-size: 15px;
    flex: 0 1 19%;
  }
}

.solutions {
  padding: 60px 0;
  text-align: center;
  &_content {
    width: 1050px;
    margin: 0 auto;
  }
  &_columns {
    margin-top: 40px;
    display: flex;
    text-align: left;
    justify-content: space-between;
  }
  &_left,
  &_right {
    flex: 0 0 calc(50% - 20px);
  }
}

.preventive {
  background: linear-gradient(180deg, #E9F0F2 0%, #EFF1F2 100%);
  padding: 60px 0;
  text-align: center;
  &_content {
    width: 950px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1050px) {
  .services {
    &_top {
      padding: 33px 24px 45px;
      text-align: left;
      width: 100%;
      &_contact {
        flex-direction: column;
      }
      &_left {
        flex: 0;
        margin-right: 0;
        margin-bottom: 10px;
      }
      &_text {
        margin: 33px 0 28px;
      }
    }
    &_list {
      position: relative;
      padding: 16px 0;
      &_content {
        width: 100%;
        padding: 0 25px;
      }
      &_item,
      &_item:last-child {
        margin: 0 7px;
      }
      & .tns-nav {
        bottom: -25px;
        width: 100%;
        margin: 0 auto;
        position: absolute;
      }
    }
    &_research {
      &_content {
        width: 100%;
        padding: 0 25px;
      }
      &_top {
        flex-direction: column;
        &_left {
          margin-bottom: 20px;
        }
      }
      &_results {
        width: 100%;
      }
      &_look {
        &_title {
          width: 100%;
        }
      }
      & .tns-outer {
        margin: 0 -25px;
      }
    }
  }
  .turnkey_ngs {
    overflow: hidden;
    & .tns-ovh {
      overflow: inherit;
    }
    &_content {
      width: 100%;
      padding: 0 24px;
    }
    &_title {
      font-size: 25px;
    }
    &_list {
      margin: 40px -25px;
      &_item {
        flex: auto;
        margin: 0 70px 0 -20px;
        padding: 30px 30px;
        user-select: none;
        &:last-child {
          margin-right: 100px;
        }
        &:after {
          right: -40px;
        }
        &:last-child:after {
          display: block;
        }
      }
    }
    &_get {
      &_list {
        flex-direction: column;
      }
      &_item {
        padding: 20px 30px;
        margin: 0 20px 17px;
        text-align: center;
        justify-content: center;
        font-size: 14px;
        &:last-child {
          margin-right: 20px;
          margin-bottom: 0;
        }
        &:after {
          left: calc(50% - 6px);
          transform: rotate(-90deg) scale(0.6);
          top: auto;
          bottom: -30px;
        }
      }
    }
    &_connect {
      width: 100%;
      &_dot {
        margin-left: 50%;
        height: 30px;
      }
    }
    &_results {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &_result {
      flex: 0 0 calc(50% - 8px);
      margin-right: 7px;
      margin-bottom: 14px;
      &:last-child {
        margin-right: 7px;
      }
    }
  }
  .genomic_data {
    overflow: hidden;
    &_content {
      width: 100%;
      padding: 0 25px;
    }
    .tns-ovh {
      overflow: inherit;
    }
  }
  .research {
    overflow: hidden;
    & .tns-ovh {
      overflow: inherit;
    }
    &_content {
      width: 100%;
      padding: 0 25px;
    }
    &_top {
      flex-direction: column;
      &_left {
        font-size: 27px;
        margin-bottom: 20px;
      }
    }
    &_look_title {
      width: auto;
    }
    &_link {
      padding: 26px 0 23px;
      width: 100%;
      max-width: 320px;
    }
  }
  .turnkey_ngs_result {
    flex: auto;
    display: flex !important;
  }
  .bioinformatic {
    padding: 40px 0;
    &_content {
      width: auto;
    }
    &_results {
      flex-wrap: nowrap;
      margin: 30px 0 40px;
    }
    &_result {
      margin-bottom: 0;
      flex: auto;
      display: flex !important;
    }
  }
  .solutions {
    padding: 45px 24px 0;
    &_content {
      width: 100%;
    }
    &_columns {
      flex-direction: column;
    }
    &_left {
      margin-bottom: 30px;
    }
    &_right {
      margin-bottom: 30px;
    }
  }
  .preventive {
    padding: 20px 24px 30px;
    &_content {
      padding: 0;
      width: 100%;
    }
  }
}
