.research {
  padding: 60px 0;
  background: linear-gradient(180deg, #E9F0F2 0%, #fff 100%);

  &_content {
    width: 1050px;
    margin: 0 auto;
    text-align: center;
  }

  &_subtitle {
    margin: 40px 0;
  }
}

.production {
  padding: 60px 0 37px;

  &_content {
    width: 1050px;
    margin: 0 auto;
    text-align: center;
  }

  &_samples {
    margin: 40px 0;

    & p {
      margin-bottom: 0;
    }

    & span {
      font-size: 72px;
      font-weight: 700;
      @include textGradientGreenColor;
    }
  }

  &_list {
    @include leafNumberList;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0 0;

    &_item {
      @include leafNumberListItem;
      margin-bottom: 23px;
      font-size: 17px;
      line-height: 1.2em;
      text-align: left;
      flex: 0 0 25%;
      padding-right: 40px;
    }
  }
}

.genotype {
  background: #E9F0F2;
  padding: 60px 0 40px;

  &_list {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 10px 0;

    &_item {
      background: linear-gradient(283.1deg, #E2FFFC -52.01%, #FFFFFF 96.31%);
      border-radius: 16px;
      box-shadow: 0 2px 13px rgba(0, 0, 0, 0.13);
      padding: 15px 19px;
      margin: 0 9px;

      & p {
        margin-bottom: 0;
      }
    }
  }

  & .tns-nav {
    margin-top: 12px;
  }
}

.development {
  padding: 60px 0;

  &_content {
    width: 1050px;
    margin: 0 auto;
    text-align: center;
  }

  &_list {
    @include leafNumberList;
    display: flex;
    margin: 0 -20px;

    &_item {
      @include leafNumberListItem;
      margin: 0 20px;
      text-align: left;
    }
  }

  &_slider {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 10px 0;
    margin: 40px 0 0;

    &_item {
      background: #EFF1F2;
      border-radius: 16px;
      box-shadow: 0 2px 13px rgba(0, 0, 0, 0.21);;
      padding: 15px 19px;
      margin: 0 20px;
      display: flex !important;

      & p {
        margin-bottom: 0;
      }
    }

    &_image {
      margin-right: 25px;
    }
  }

  & .tns-nav {
    margin-top: 12px;
  }

  & .tns-inner {
    margin: 0 -100px;
  }
}


.role {
  padding: 60px 0;
  background: #E9F0F2;

  &_content {
    width: 1050px;
    margin: 0 auto;
    text-align: center;
  }

  &_list {
    @include leafNumberList;
    display: flex;
    margin: 0 -20px;

    &_item {
      @include leafNumberListItem;
      margin: 0 20px;
      text-align: left;
    }
  }

  &_slider {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 10px 0;
    margin: 40px 0 0;

    &_item {
      background: #EFF1F2;
      border-radius: 16px;
      box-shadow: 0 2px 13px rgba(0, 0, 0, 0.21);;
      padding: 15px 19px;
      margin: 0 20px;
      display: flex !important;
      flex-direction: column;

      & p {
        margin-bottom: 0;
      }
    }

    &_image {
      margin-right: 25px;
    }
  }

  & .tns-nav {
    margin-top: 12px;
  }

  & .tns-inner {
    margin: 0 -100px;
  }
}

.gene {
  padding: 60px 0;

  &_slider {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 10px 0;
    margin: 20px 0 0;

    &_item {
      position: relative;
      border-radius: 34px;
      box-shadow: 0 4px 12px #D7DBDC;
      padding: 39px 69px;
      margin: 0 20px;
      display: flex !important;
      flex-direction: column;

      &:before {
        content: '';
        position: absolute;
        height: 100px;
        width: 30px;
        top: 40px;
        left: 0;
        background: linear-gradient(#08CDB5 0%, #298076 100%);
        border-radius: 0 30px;
      }
    }

    &_image {
      margin-bottom: 12px;
    }

    &_title {
      font-weight: 700;
      margin-bottom: 12px;
      font-size: 17px;
    }

    &_text {
      font-size: 13px;
      margin-bottom: 12px;
    }

    &_resource {
      font-size: 13px;
      color: #059A88;
    }
  }

  & .tns-nav {
    margin-top: 12px;
  }
}

@media screen and (max-width: 1050px) {
  .research {
    padding: 30px 0;
    &_content {
      width: 100%;
      padding: 0 25px;
    }
  }
  .production {
    padding: 80px 0 30px;
    &_content {
      width: 100%;
      padding: 0 25px;
    }
    &_samples {
      & span {
        font-size: 42px;
      }
    }
    &_list {
      flex-direction: column;
      &_item {
        flex: auto;
        margin-bottom: 30px;
      }
    }
  }
  .genotype {
    padding: 30px 0;
  }
  .development {
    padding: 30px 0;
    &_content {
      width: 100%;
      padding: 0 25px;
    }
    &_list {
      flex-direction: column;
      &_item {
        flex: auto;
        margin-bottom: 30px;
      }
    }
    &_slider {
      &_item {
        flex-direction: column;
        margin: 0 3px;
      }
    }
  }
  .role {
    padding: 30px 0;
    &_content {
      width: 100%;
      padding: 0 25px;
    }
    &_list {
      flex-direction: column;
      &_item {
        flex: auto;
        margin-bottom: 30px;
      }
    }
    &_slider {
      &_item {
        margin: 0 3px;
      }
    }
  }
  .gene {
    padding: 30px 0;
    &_slider {
      &_item {
        padding: 39px 45px;
      }
      &_image {
        width: 100%;
        & img {
          max-width: 100%;
        }
      }
    }
    & .turnkey_ngs_title {
      padding: 0 25px;
      margin-bottom: 0;
    }
  }
}
