.vacancy {
  padding: 60px 0;
  background: #E9F0F2;
  &_content {
    width: 666px;
    margin: 0 auto;
  }
  &_apply {
    margin-top: 35px;
    @include gradientRadiusGreenButton;
    display: inline-block;
    padding: 26px 78px;
  }
}
