.new {
  padding: 60px 0;
  background: #E9F0F2;
  &_content {
    width: 666px;
    margin: 0 auto;
    & h1 {
      margin-bottom: 12px;
    }
    & h2 {
      margin-top: 40px;
    }
    & h3 {
      margin-bottom: 30px;
    }
    & ul {
      margin: 20px 0 20px 60px;
    }
  }
  &_breadcrumbs {
    margin-bottom: 12px;
    font-size: 19px;
    font-weight: 400;
    display: inline-block;
  }
  &_date {
    margin-bottom: 12px;
    color: #676767;
  }
  &_image {
    width: 100%;
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 1050px){
  .new {
    padding: 30px 24px;
    &_content {
      width: 100%;
    }
  }
}
