.who {
  padding: 60px 0 20px;
  text-align: center;
  background: linear-gradient(180deg, #E9F0F2 0%, #EFF1F2 100%);

  &_content {
    width: 1050px;
    margin: 0 auto;

    & h1 {
      margin-bottom: 40px;
    }
  }

  &_top {
    margin-bottom: 40px;
  }
}

.quote {
  width: 100%;
  margin: 40px auto;
  position: relative;
  display: flex;
  align-items: center;
  padding: 40px;
  background: linear-gradient(283.1deg, #E2FFFC -52.01%, #FFFFFF 96.31%);
  font-style: italic;
  font-weight: 500;
  border-radius: 16px;

  &:before {
    position: absolute;
    left: 40px;
    top: -21px;
    content: '';
    background: url("../img/quotes.svg") no-repeat;
    background-size: contain;
    width: 70px;
    height: 49px;
  }

  &_left {
    margin-right: 27px;
    font-weight: 400;
    font-size: 19px;
    flex: 0 0 calc(65% - 27px);
    text-align: left;
  }

  &_right {
    margin-left: 27px;
    font-weight: 400;
    font-size: 19px;
    flex: 0 0 calc(35% - 27px);
    color: #26A193;
    text-align: left;
  }
}

.values {
  margin: 40px 0;

  &_blocks {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  &_block {
    position: relative;
    text-align: left;

    &:before {
      position: absolute;
      top: 4px;
      left: 0;
      content: '';
      width: 6px;
      border-radius: 10px 0 0 10px;
      height: calc(100% - 15px);
      background: linear-gradient(90deg, #08CDB5, #1BB7A5);
    }

    &_line {
      position: relative;
      padding-left: 22px;
      margin-bottom: 7px;

      &:before {
        position: absolute;
        top: 4px;
        left: 5px;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 0 10px 10px 0;
        background: linear-gradient(90deg, #1BB7A5, #26A193);
      }
    }
  }
}

.directions {
  margin: 40px 0;
}

.story {
  margin: 40px 0;
}

.team {
  &_slider {
    display: flex;
    user-select: none;

    &_item {
      margin: 0 25px;
      padding: 32px 40px;
      background: linear-gradient(112.92deg, #FFFFFF 1.21%, #EEFFFE 94.37%);
      border-radius: 37px;
      text-align: left;
    }

    &_top {
      display: flex;
      align-items: center;
    }

    &_photo {
      position: relative;
      width: 162px;
      height: 154px;
      margin: 25px 0 0 22px;

      &:before {
        content: '';
        width: 110px;
        height: 110px;
        position: absolute;
        left: -22px;
        top: -25px;
        background: linear-gradient(315.1deg, #86D0C7 -1.94%, rgba(216, 225, 224, 0.23) 126.67%);
        border-radius: 0 50px;
        z-index: 0;
      }

      & img {
        position: relative;
        object-fit: contain;
        z-index: 1;
        border-radius: 0px 100px;
      }
    }

    &_person {
      text-align: left;
      margin-left: 30px;

      &_name {
        font-weight: 300;
        font-size: 29px;
        margin-bottom: 9px;
      }

      &_role {
        font-weight: 500;
        font-size: 19px;
        color: #26A193;
      }
    }

    &_bottom {
      margin-top: 38px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      &_left {
        flex: 0 0 calc(52% - 24px);
        margin-right: 24px;
      }

      &_right {
        flex: 0 0 calc(48% - 24px);
        margin-left: 24px;
      }
    }

    &_title {
      font-size: 14px;
      margin-bottom: 6px;
      color: #26A193;
    }

    &_text {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  & .tns-nav {
    margin-top: 16px;
  }
}

.values {
  &_content {
    width: 1050px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1050px) {
  .who {
    padding: 30px 0;

    &_content {
      width: 100%;
      padding: 0 25px;
      text-align: left;
    }
  }
  .quote {
    flex-direction: column;
    align-items: flex-start;

    &_left {
      margin-bottom: 20px;
      margin-right: 0;
    }

    &_right {
      margin-left: 0;
    }
  }
  .values {
    &_content {
      width: 100%;
      padding: 0 25px;
    }

    &_blocks {
      position: relative;
      flex-direction: column;

      &:before {
        position: absolute;
        top: 4px;
        left: 0;
        content: '';
        width: 6px;
        border-radius: 10px 0 0 10px;
        height: calc(100% - 15px);
        background: linear-gradient(90deg, #08CDB5, #1BB7A5);
      }
    }

    &_block {
      &:before {
        content: none;
      }
      &_line {
        &:last-child {
          height: 16px;
        }
      }
    }
  }
  .team {
    &_slider {
      &_item {
        border-radius: 37px;
      }

      &_top {
        flex-direction: column;
        justify-content: center;
      }

      &_person {
        margin: 32px 0 14px;
      }

      &_bottom {
        margin-top: 0;
        flex-direction: column;
        justify-content: center;

        &_right {
          margin-left: 0;
        }
      }

      &_title {
        margin-top: 15px;
      }
    }
  }
}
