.news {
  text-align: center;
  background: #EEF0F2;
  padding: 60px 0;
  &_list {
    width: 830px;
    margin: 40px auto 0;
    &_item {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
      &_content {
        text-align: left;
        margin-left: 50px;
      }
      &_title {
        text-transform: none;
        margin-bottom: 12px;
      }
      &_date {
        text-transform: none;
        color: #676767;
        margin-bottom: 12px;
      }
      &_text {
        margin-bottom: 12px;
        font-size: 17px;
        line-height: 1.2em;
      }
      &_link {
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .news {
    padding: 0 25px;
    text-align: left;
    &_list {
      width: 100%;
      &_item {
        flex-direction: column;
        &_image {
          width: 100%;
          height: 125px;
          overflow: hidden;
          object-fit: cover;
          margin-bottom: 12px;
          & img {
            width: 100%;
          }
        }
        &_content {
          margin-left: 0;
        }
      }
    }
  }
}
