$color--main: #000;

html {
  height: 100%;
}

body {
  height: 100%;
  color: $color--main;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 1050px;
  margin: 0 auto;
}

h1 {
  font-size: 66px;
  line-height: 1.2em;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 33px;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2em;
}

p {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.2em;
  color: #000;
  margin-bottom: 16px;
}

a {
  font-weight: 700;
  font-size: 17px;
  color: #03BCA6;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;

  &:hover {
    border-color: #03BCA6;
  }
}
b, strong {
  font-weight: 700;
}

ul {
  margin-left: 25px;
  li {
    list-style: disc;
    padding-left: 5px;
    font-size: 17px;
    line-height: 1.2em;
    margin-bottom: 12px;
  }
}

.tns-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  z-index: 2;

  & button {
    background: #26A193;
    border-radius: 10px;
    width: 8px;
    height: 8px;
    display: block;
    margin: 0 4px;
    border: none;
    padding: 0;

    &.tns-nav-active {
      height: 12px;
      width: 12px;
      background: #82E0C4;
    }
  }
}

.content {
  flex: 1 0 auto;
}

@media screen and (max-width: 1050px) {
  h1 {
    font-size: 47px;
  }
  h2 {
    font-size: 25px;
  }
}
