.footer {
  flex-shrink: 0;
  padding: 60px 0 45px;
  background: linear-gradient(6.51deg, #BDDBE4 4.16%, #D3E4FF 93.92%);
  &_content {
    width: 1050px;
    margin: 0 auto;
  }
  &_contact {
    display: flex;
    align-items: stretch;
    margin-bottom: 68px;
  }
  &_left {
    flex: 0 0 320px;
    margin-right: 44px;
    display: flex;
    flex-direction: column;
  }
  &_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 364px);
    & h2 {
      align-self: flex-start;
    }
  }
  &_mobile_button,
  &_button {
    @include gradientRadiusGreenButton;
    padding: 26px 0 24px;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: auto;
    cursor: pointer;
  }
  &_mobile_button {
    display: none;
  }
  & form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  & input,
  & textarea {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    padding: 20px 56px;
    border-radius: 0 20px;
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    &:last-child {
      margin-bottom: 0;
    }
    &:focus {
      outline: 3px solid #03BCA6;
    }
  }
  & textarea {
    max-width: 100%;
    min-width: 100%;
    height: 215px;
    min-height: 215px;
    max-height: 215px;
    margin-bottom: 0;
  }
  &_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px 0 0;
  }
  &_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &_item {
      flex: 0 0 25%;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.2em;
      margin-bottom: 12px;
      & a {
        font-size: 17px;
        font-weight: 400;
      }
    }
  }
  & hr {
    border: none;
    height: 1px;
    background: #52B4D6;
  }
  &_copyright {
    text-align: right;
    line-height: 1.2em;
    color: #71A8BB;
  }
}

@media screen and (max-width: 1050px) {
  .footer {
    padding: 47px 25px 116px;
    margin-bottom: 80px;
    &_content {
      width: 100%;
    }
    &_contact {
      flex-direction: column;
      margin-bottom: 47px;
    }
    &_left {
      flex: 0;
      margin-right: 0;
    }
    &_right {
      width: auto;
    }
    &_button {
      display: none;
    }
    &_mobile_button {
      width: auto;
      display: block;
      margin: 25px 25px 0;
    }
    &_bottom {
      margin-top: 19px;
      flex-wrap: wrap;
    }
    &_menu {
      order: -1;
      flex: 0 0 100%;
      display: grid;
      grid-template-columns: repeat(3, auto);
      margin: 0 -5px 32px;
      &_item {
        padding: 0 5px;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .footer {
    &_menu {
      grid-template-columns: repeat(2, auto);
    }
  }
}
