.header {
  height: 55px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &_menu {
    &_item {
      padding: 6px 0;
      margin: 0 14px;
      font-weight: 700;
      font-size: 16px;
      color: #000;
      text-decoration: none;
      &.m--active,
      &:hover {
        border-bottom: 3px solid #08CDB5;
      }
    }
  }
  &_link {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    margin: 0 14px;
    padding: 10px 24px 8px;
    @include gradientRadiusGreenButton;
  }
  &_mobile {
    display: none;
  }
}

@media screen and (max-width: 1050px)  {
  .header {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: 80px;
    justify-content: space-between;
    &.m--active &_menu_mobile{
      background: url("../img/cross.svg") center no-repeat;
    }
    &_link {
      margin-right: 25px;
    }
    &_menu {
      display: none;
      &_item {
        margin: 0 0 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &.m--active {
        position: fixed;
        left: 0;
        bottom: 80px;
        height: calc(100% - 80px);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        background: rgba(255, 255, 255, 0.36);
        backdrop-filter: blur(25px);
        padding: 28px 25px;
      }
      &_mobile {
        display: block;
        background: url("../img/menu.svg") center no-repeat;
        width: 21px;
        height: 17px;
        margin-left: 25px;
      }
    }
  }
}
