@mixin textGradientGreenColor {
  background: linear-gradient(#07C0AA 0%, #059F8D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@mixin gradientRadiusGreenButton {
  background: linear-gradient(250.9deg, #08CDB5 25.91%, #26A193 87.89%);
  border-radius: 0 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

@mixin leafNumberList {
  list-style-type: none;
  counter-reset: num;
}

@mixin leafNumberListItem {
  &:before {
    background: linear-gradient(306.71deg, #13BD9E -74.22%, rgba(171, 222, 216, 0.23) 148.94%);
    border-radius: 0 30px;
    content: counter(num);
    counter-increment: num;
    display: block;
    width: 59px;
    color: #fff;
    font-size: 50px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    height: 40px;
    margin-bottom: 7px;
  }
}
