.home_top {
  background: url("../img/main_top_bg.jpg") center;
  background-size: cover;
  &_content {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
  }
  &_link {
    padding: 26px 95px 23px;
    margin-bottom: 60px;
    @include gradientRadiusGreenButton;
  }
  &_title {
    font-size: 31px;
    text-align: center;
    color: #000;
    letter-spacing: 0.445em;
    text-transform: uppercase;
    margin: 40px 0;
    & b {
      line-height: 1.2em;
      font-size: 66px;
      text-transform: uppercase;
      display: block;
      @include textGradientGreenColor;
      letter-spacing: 0;
      margin-top: 22px;
    }
  }
  &_about {
    margin: 60px 0;
    display: flex;
    align-items: stretch;
    gap: 20px;
    &_column {
      flex: 0 0 calc(50% - 20px);
      padding-right: 40px;
      display: flex;
      flex-direction: column;
    }
    &_link {
      margin-top: auto;
      align-self: flex-start;
    }
  }
  &_numbers {
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    &_item {
      flex: 0 0 33.333%;
      padding-right: 128px;
      margin-bottom: 27px;
    }
    &_title {
      @include textGradientGreenColor;
      font-size: 57px;
      line-height: 1.2em;
      font-weight: 700;
    }
    &_text {
      padding-right: 30px;
    }
  }
}

@media screen and (max-width: 1050px) {
  .home_top {
    &_content {
      width: 100%;
    }
    &_title {
      font-size: 14px;
      margin: 42px 0 28px;
      & b {
        font-size: 47px;
        line-height: 55px;
      }
    }
    &_link {
      margin-bottom: 0;
    }
    &_about {
      margin: 46px 0;
      padding: 0 25px;
      gap: 0;
      flex-direction: column;
      &_column {
        flex: 0 0 100%;
        padding-right: 0;
        margin-bottom: 35px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &_title {
        text-align: center;
      }
      &_link {
        align-self: center;
      }
    }
    &_numbers {
      margin: 0;
      padding: 0 25px;
      &_item {
        flex: 0 0 50%;
        padding-right: 0;
      }
      &_title {
        font-size: 42px;
      }
    }
  }
}
