.home_feedback {
  padding: 60px 0;
  background: linear-gradient(6.51deg, #EFF1F2 4.16%, #E9EFF1 93.92%);
  &_content {
    width: 1050px;
    margin: 0 auto;
    justify-content: stretch;
    display: flex;
  }
  &_left {
    flex: 0 0 320px;
    margin-right: 44px;
  }
  &_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 364px);
    & h2 {
      align-self: flex-start;
    }
  }
  &_slider {
    &_wrapper {
      width: 100%;
      position: relative;
      background: #fff;
      border-radius: 0 70px;
      user-select: none;
    }
    &_arrow {
      position: absolute;
      left: 56px;
      top: calc(50% - 20px);
      width: 21px;
      height: 42px;
      background: url("../img/arrow.svg") no-repeat;
      background-size: contain;
      display: flex;
      cursor: pointer;
      &.next {
        transform: rotate(180deg);
        left: auto;
        right: 56px;
      }
    }
  }
  &_slide {
    padding: 27px 130px;
    text-align: left;
    &_name {
      margin-bottom: 16px;
      font-style: italic;
      color: #67B7A0;
    }
    &_text {
      font-style: italic;
    }
  }
  &_link {
    margin-top: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 1050px) {
  .home_feedback {
    padding-bottom: 44px;
    &_content {
      width: 100%;
      flex-direction: column;
    }
    &_left {
      flex: auto;
      margin: 0 0 47px;
      padding: 0 24px;
      text-align: center;
    }
    &_right {
      width: 100%;
      margin: 0;
      padding: 0 55px;
    }
    &_slider{
      &_arrow {
        top: 24px;
        left: -40px;
        &.next {
          left: auto;
          right: -40px;
        }
      }
    }
    &_slide {
      padding: 34px 40px 45px;
    }
    & h2 {
      align-self: center;
    }
    &_link {
      margin-top: 35px;
    }
  }
}
