.home_why {
  margin: 60px 0;
  &_content {
    width: 1050px;
    margin: 0 auto;
    text-align: center;
  }
  &_items {
    margin: 60px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &_item {
    flex: 0 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    &_image {
      @include gradientRadiusGreenButton;
      border-radius: 0 50px;
      width: 120px;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
    }
    &_title {
      font-size: 19px;
      color: #26A193;
      font-weight: 700;
      line-height: 1.2em;
    }
  }
}

@media screen and (max-width: 1050px) {
  .home_why {
    &_content {
      width: 100%;
    }
    &_items {
      margin: 30px 0;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }
    &_item {
      flex: 0 0 33.333%;
      margin-bottom: 27px;
      &_title {
        font-size: 13px;
      }
      &_image {
        width: 82px;
        height: 82px;
        border-radius: 0 25px;
      }
      &_icon {
        width: 80%;
        height: 80%;
      }
    }
  }
}
