.home_can_do {
  padding: 60px 0;
  text-align: center;
  &_slider {
    display: flex;
    align-items: stretch;
    margin: 44px 0 62px;
  }
  &_slide {
    background: linear-gradient(304.91deg, #BEEDE7 -47.54%, rgba(216, 225, 224, 0.23) 138.6%);
    border-radius: 0 70px;
    display: flex !important;
    align-items: center;
    padding: 27px 38px;
    margin: 0 14px;
    user-select: none;
    & p {
      margin-bottom: 0;
    }
  }
  &_subtitle {
    margin-bottom: 63px;
  }
}

@media screen and (max-width: 1050px) {
  .home_can_do {
    padding: 60px 40px;
    overflow: hidden;
    & .tns-ovh {
      overflow: inherit;
    }
    & .tns-nav {
      margin-top: -50px;
      margin-bottom: 30px;
    }
    &_slide {
      padding: 27px 38px !important;
      margin: 0 10px;
    }
  }
}
