.home_key {
  padding: 60px 0;
  text-align: center;
  background: url("../img/key_bg.jpg") center no-repeat;
  background-size: cover;
  &_slider {
    display: flex;
    align-items: stretch;
    margin: 44px 0 62px;
  }
  &_slide {
    background: #fff;
    border-radius: 0 70px;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 27px 38px;
    margin: 0 14px;
    user-select: none;
    &_name {
      font-size: 17px;
      margin-bottom: 6px;
    }
    &_quote {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 6px;
    }
    &_origin {
      font-size: 17px;
      color: #059A88;
      margin-top: auto;
      margin-bottom: 0;
    }
  }
  &_subtitle {
    margin-bottom: 63px;
  }
}

@media screen and (max-width: 1050px) {
  .home_key {
    padding: 60px 24px;
    overflow: hidden;
    & .tns-ovh {
      overflow: inherit;
    }
    & .tns-nav {
      margin-top: -50px;
      margin-bottom: 30px;
    }
    &_slide {
      padding: 27px 38px !important;
      margin: 0 5px;
    }
  }
}
